body { 
  background-color: #d6edfa; /* sfondo grigio-azzurro */
  padding: 5% 5%;
  margin: 0;
} 

/* Loghi */
div.split{height: 80px; background-color: #b4d3e6}
div.split img{margin:0}
div.split img.logo-left{max-height: 75px; margin-left: 10%}
div.split img.logo-right{max-height: 75px; float: right; margin-top: 10px}

/* Titoli */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
  font-family: "Trebuchet MS", Verdana, sans-serif; 
  color: #996666; /* ruggine */
}

h1 { 
  font-size: 30pt;
  text-align: center;
}

h2 { 
  font-size: 20pt;
  text-align: center;
}
 
h3 { 
  color: #4d4c4c; /* grigio scuro */ 
  font-size: 16pt;
} 

p {
  font-family: Georgia, serif; 
  font-size: l2pt;
}

#box{
  color: #4d4c4c;
  text-align: center;
  height: 100px;
  padding: 20px;
  border: solid 4px #996666;
  margin: auto;
	width: 50%
	}
 
ul li { 
  font-family: "Georgia", serif; 
  font-size: l2pt;
  list-style-type: square;
}