body { 
  background-color: #d6edfa; /* sfondo grigio-azzurro */
  padding: 5% 5%;
  margin: 0;
} 

/* Loghi */
div.split{height: 80px; background-color: #b4d3e6; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
div.split img{margin:0}
div.split img.logo-left{max-height: 75px; margin-left: 10%}
div.split img.logo-left:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4); border-radius: 5px;}
div.split img.logo-right{max-height: 75px; float: right; margin-top: 10px; border-radius: 5px}
div.split img.logo-right:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);}

/* Titoli */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
  font-family: 'Trebuchet MS', Verdana, sans-serif; 
  color: #996666; /* ruggine */
}

h1 { 
  font-size: 30pt;
  text-align: center;
}

h2 { 
  font-size: 20pt;
  text-align: center;
}
 
h3 { 
  color: #4d4c4c; /* grigio scuro */ 
  font-size: 12pt;
} 

/* menu di navigazione */
.img-menu {width:100%}

.img-box {width:80%;}

#menu {
	margin-top:30px;
	width: 70%;
	margin-left: 15%;}

span.scelta-menu {
	font-size:10px;
  font-family: 'Trebuchet MS', Verdana, sans-serif; 
	font-weight: 400;
	position: relative;
  font-style: italic;
  font-weight: 400;
  width: 30%;
  margin-left:2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: inline-block;}

span.scelta-menu:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);}

span.info {
  font-size:10px;
  font-family: 'Trebuchet MS', Verdana, sans-serif; 
	font-weight: 400;
}

.etichetta {
	border-radius: 5px 5px 5px 5px;
  position: absolute;
	bottom: 5%;
  left: 5%;
  right: 5%;
	background-color:#996666;
	opacity:0.9;
	color:white;
 	text-align: center; 
	padding: 12px 10px 12px 10px; }

.etichetta:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);}

p {
  font-family: Georgia, serif; 
  font-size: 12pt;
}

p.small {
  font-family: Georgia, serif; 
  font-size: 10pt;
  margin-top:-2px;
  margin-bottom:-2px;
}

p.large {
  font-family: Georgia, serif; 
  font-size: 12pt;
  line-height: 200%;
}

div.box{
  color: #4d4c4c;
  text-align: center;
  height: 100%;
  padding: 10px;
  border: solid 6px #996666;
  border-style: ridge;
  border-radius: 5px 5px 5px 5px;
  margin-top: 30px;
  margin-left: 25%;
	width: 50%
}

div.box-grande{
  color: #4d4c4c;
  text-align: left;
  height: 100%;
  padding: 10px;
  border: solid 6px #996666;
  border-style: ridge;
  border-radius: 5px 5px 5px 5px;
  margin-top: 30px;
	width: 95%;
}

div.box-contenitore{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  align-items: stretch;
  -webkit-align-items: stretch;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 10px;
}

span.affiancato {
  width: 46%;
  margin:2%;
  background-color: #b4d3e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  display: inline-block;
  padding: 5px;
}


#torna-menu {
  font-family: Georgia, serif;
  font-size:10px;
  text-align: center;
  float: center;
  margin-top: 30px;
  padding: 10px 0px 10px 0px;
  margin-right: 42%;
  margin-left: 42%;
  border-radius:20px;
  background-color: #996666;
  opacity:0.9;
  color: white;
}

#torna-menu:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity:1;
}

#torna-menu a {
  color:white;
  text-decoration: none;
}
 
ul, li { 
  font-family: Georgia, serif; 
  font-size: 10pt;
  list-style-type: none;
  margin: 3px;
  padding: 0;
}

.esempi-img {
  position: relative;
}

.img-facs {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* evidenziazione al passaggio del mouse */
.highlight {
  background-color: #9dc6a7;
  border-radius: 5px 5px 5px 5px;
}

footer {
  margin-top: 30px;
  text-align: center;
  padding: 3px;
  height: 100px; 
  background-color: #b4d3e6; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 10pt;
}